[2022-05-10 17:24] mikhail-vl opened #6 "Add Confirmation before Submit"
Confirmation before Submit will be a great feature to confirm updating of the sensitive configuration.

[2022-05-10 17:24] mikhail-vl opened #7 "Add Header Parameters"
Secret Parameter is a part of the latest StoryBook: https://developers.grafana.com/ui/latest/index.html?path=/story/forms-secretinput--basic

[2022-05-10 17:24] mikhail-vl opened #8 "Add TextArea parameter"

[2022-05-10 17:24] mikhail-vl opened #9 "Add Date parameter"

[2022-05-10 17:26] mikhail-vl opened #10 "Add Reset button"

[2022-05-10 18:23] mikhail-vl opened #12 "Fix Slider updated Value"

[2022-05-10 18:23] mikhail-vl opened #13 "Add Authentication options"
The basic Authentication option is not secure. The preferred way to communicate with REST API will be Proxy Data Source, which supports various authentication methods.

[2022-05-10 18:30] #12 closed

[2022-05-11 03:08] #10 closed

[2022-05-11 03:53] #8 closed

[2022-05-11 04:24] mikhail-vl commented on #7
Not Available in Grafana 8.5.2. Waiting when it's become a part of the Grafana/ui

[2022-05-11 04:26] #9 closed

[2022-05-11 04:27] mikhail-vl opened #18 "Number Slider is not updated properly"
The slider is not refreshing after updating its value, which seems to be an issue in the Grafana component.

[2022-05-11 04:31] mikhail-vl opened #19 "Add ability to move parameters up and down"

[2022-05-11 05:16] mikhail-vl opened #21 "Improve Test Coverage"
Current Test Coverage is ~40% and needs to be improved to check all input parameters and configuration options.

[2022-05-11 05:16] mikhail-vl opened #22 "Allow to get Elements Initial Value and Configuration from Data Source"

[2022-05-11 13:29] mikhail-vl opened #23 "Add Code Editor Element for Configuration Forms"
Code Editor supporting various languages like Javascript, and JSON will be very useful for configuration forms.

[2022-05-11 20:31] #19 closed

[2022-05-11 23:40] mikhail-vl opened #26 "Add Options to Refresh Form on Dashboard refresh"

[2022-05-12 01:42] #26 closed

[2022-05-12 02:36] #7 closed

[2022-05-16 14:00] mikhail-vl opened #34 "Add Support for File Uploads"
Small file uploads as base64 will be great to add to the panel.

[2022-05-16 14:01] mikhail-vl opened #35 "Signing as Community Plugin after Grafana Review"
Plugin was submitted to Grafana for review as Private plugin.
After initial review plugin can be signed with Community signature.

[2022-05-17 00:16] mikhail-vl commented on #6
I am looking to have a modal to confirm updating entered values before doing Rest API request.
Panel should have an option to enable and disable confirmation with default value as disabled.

[2022-05-17 17:53] mikhail-vl opened #38 "Update layout to have sections for Form Fields"
Each element can be assigned to a specific section.

[2022-05-17 23:19] mikhail-vl opened #40 "Update naming from `Custom Form` Panel to `Data Manipulation` Form"
As suggested by @DariaVolkov.

[2022-05-19 01:36] #40 closed

[2022-05-19 19:46] mikhail-vl commented on #35
Version 1.2.0 resubmitted for review.

[2022-05-19 20:04] daria-vl opened #43 "Changing colors on Submit is not working properly"
Add color translation/color mapping for light and darker colors

[2022-05-20 22:20] mikhail-vl opened #45 "Rename Disabled to Read-Only for Clarity"

[2022-05-22 00:41] #43 closed

[2022-05-22 02:28] #38 closed

[2022-05-22 02:28] #45 closed

[2022-05-22 13:26] mikhail-vl commented on #13
The plugin supports Header Options for API keys.
The preferred way is to use HTTP Proxy for the configured data sources.

[2022-05-22 13:26] #13 closed

[2022-05-22 17:34] #23 closed

[2022-05-30 21:25] #6 closed

[2022-06-27 08:27] fabiotorta opened #54 "edit fields after first entry"
after the first entry all subsequent changes are not saved. This has happened to me on Grafana v9.0.1. I have also tried editing the json directly but when the apply button is pressed the plugin returns to the state of the first insertion

[2022-06-27 23:13] mikhail-vl commented on #54
Hello @fabiotorta, and thank you for trying the plugin. I need more information to understand your use case and the issue. Maybe step-by-step instructions and screenshots.

Have you had a chance to look at our Server API implementation or watch the tutorial video (https://www.youtube.com/watch?v=DXALVG8GijM)?

[2022-07-04 05:05] henjoe opened #55 "http localhost:3000 has been blocked CORS"
Hello, I actually get stocked by this error.
![image](https://user-images.githubusercontent.com/49782655/177084809-0f2f1ce4-1df2-411d-8ecb-5e1b88b093a5.png)

I am a NodeRed running on the same machine with Grafana. I am using nodered as may API, I simply want to get what the user inputted in my grafana to my nodered API.
However, I always get error as mentioned above.
In addition, I have a basic a

[2022-07-04 12:13] fabiotorta commented on #54
Hello Mikhail in attached PDF description of what happens to me with your plugin

Thank you for your attention

Fabio Torta

Da: Mikhail Volkov <>
Inviato: martedì 28 giugno 2022 01:14
A: VolkovLabs/volkovlabs-form-panel ***@***.***>
Cc: fabiotorta ***@***.***>; Mention ***@***.***>
Oggetto: Re: [VolkovLabs/volkovlabs-form-panel] edit fields after first entry (Issue #54)

Hello @fabiotorta <https:

[2022-07-04 12:22] mikhail-vl commented on #54
Hello @fabiotorta,

  I don't see PDF attached to the comment. Could you please try again.

[2022-07-04 12:48] fabiotorta commented on #54
Da: Mikhail Volkov <>
Inviato: lunedì 4 luglio 2022 14:23
A: VolkovLabs/volkovlabs-form-panel ***@***.***>
Cc: fabiotorta ***@***.***>; Mention ***@***.***>
Oggetto: Re: [VolkovLabs/volkovlabs-form-panel] edit fields after first entry (Issue #54)

Hello @fabiotorta <https://github.com/fabiotorta> ,

I don't see PDF attached to the comment. Could you please try again.

—
Reply to this email directl

[2022-07-04 18:54] mikhail-vl commented on #54
@fabiotorta, looks like PDF is not coming thru.

  Could you please send PDF file to mikhail at volkovlabs.io or upload somewhere for us to download.
  Thank you.

[2022-07-04 19:12] mikhail-vl commented on #55
Hello @henjoe, thank you for submitting the issue.

  Could you please take a look at our article "How to connect the Data Manipulation plugin for Grafana to API Server" (https://volkovlabs.com/how-to-connect-the-data-manipulation-plugin-for-grafana-to-api-server-1abe5f60c904), which explains the CORS error you are getting.
  The plugin repository has an example of the Node.js server which allows

[2022-07-04 23:48] henjoe commented on #55
Hi @mikhail-vl  Thanks for your response.
I will try those link you have sent, and will get back to you once done.

Again, thank you for your reply.

Regards,
Henjoe

[2022-07-04 23:51] mikhail-vl commented on #55
@henjoe Please keep us updated with your progress!

[2022-07-05 02:30] henjoe commented on #55
Hi @mikhail-vl ,

Upon testing the link you have sent. I used the 2nd options which is using the Nginx reverse proxy which I think it work.
I can access my grafana on port 443 when I access my localhost.
No more related Cors error, however, here's what I am encountering right now.

![image](https://user-images.githubusercontent.com/49782655/177237602-62222ca0-37fc-43e9-9f49-c2ff2d4b97c2.png)

As a

[2022-07-05 03:06] henjoe commented on #55
Hi @mikhail-vl

Already working now!
Thanks for the support!
Reverse Proxy using Nginx solve it all :) and much secure way than enabling CORS on my API.

Regards,
Henjoe

[2022-07-05 03:06] #55 closed

[2022-07-05 03:08] mikhail-vl commented on #55
@henjoe Great, we use NGINX in front of all our Grafana deployments for exposing additional API and securing it.

  Please let us know if you need anything else.

[2022-07-05 07:55] fabiotorta commented on #54
https://drive.google.com/file/d/1QMMN7Img5VRWo33pafxNQ6CmwM9BwhWo/view?usp=sharing

Tried it from here...seems strange to me that the pdf sent from a google account doesn't get to you

Fabio

Da: Mikhail Volkov <>
Inviato: lunedì 4 luglio 2022 20:55
A: VolkovLabs/volkovlabs-form-panel ***@***.***>
Cc: fabiotorta ***@***.***>; Mention ***@***.***>
Oggetto: Re: [VolkovLabs/volkovlabs-form-panel] edi

[2022-07-05 12:34] mikhail-vl commented on #54
@fabiotorta, Thank you, I see it now.

  I will investigate and get back to you shortly.

[2022-07-07 13:30] fabiotorta commented on #54
Good morning Mikhail you can close my case...it was a trivial error due to browser cache.

I apologize and thank you very much for the support

Fabio Torta

Da: Mikhail Volkov <>
Inviato: martedì 5 luglio 2022 14:35
A: VolkovLabs/volkovlabs-form-panel ***@***.***>
Cc: fabiotorta ***@***.***>; Mention ***@***.***>
Oggetto: Re: [VolkovLabs/volkovlabs-form-panel] edit fields after first entry (Issue

[2022-07-10 04:10] henjoe opened #56 "[Question] Automatic set to blank values after post request"
Hi,

I wonder if there is a way to automatically set to "blank" values of all form once the user clicked the "Submit button"?
![image](https://user-images.githubusercontent.com/49782655/178130918-1fec195b-d859-4d0b-88e2-4a309ce646b3.png)

I found that there is a custom code where you can run after the post request, however I don't know how to access those "form elements" to set their values to be

[2022-07-12 00:55] mikhail-vl commented on #56
@henjoe Thank you for trying the plugin.

Values for the form can be clearout using a custom Code

[code]

It's partially explained in the article, but we should make it more clear: https://volkovlabs.com/data-manipulation-panel-plugin-for-grafana-97f9af2c67e0

Please let me know if there is anything else.

[2022-07-12 01:33] henjoe commented on #56
Hi @mikhail-vl
Thanks for the response!
Will try this and get back this once done.

Regards,
Henjoe

[2022-07-16 04:06] henjoe commented on #56
Hi @mikhail-vl ,

This code:
elements.map((element) => {element.value = ''})

works well when putting all the value to "null" or blank.

However, what if a specific element only that I would like to set it to blank?
Is there a way to specify their IDs?
For example, I only want the Name (with id name) the only element to set in blank?

Thanks!

Regards,
Henjoe

[2022-07-16 12:30] mikhail-vl opened #57 "Explain Custom code in Readme"
1. Add description for parameters.
2. Add examples.

[2022-07-17 02:02] mikhail-vl commented on #56
Hello @henjoe

  It's an advantage of the custom code. You can make it as flexible as possible:

  For `name` only it will look like that:
[code]

  Please let me know if you need anything else.

[2022-07-17 02:09] henjoe commented on #56
Thanks @mikhail-vl !

All works!

Regards,
Henjoe

[2022-07-17 02:13] mikhail-vl commented on #56
@henjoe,

  Great for confirming!

  Do you mind sharing a couple of finished screenshots with a description of the project? I would love to share with the community. If you can't, that's totally fine.

[2022-07-17 02:15] henjoe commented on #56
Sure @mikhail-vl !

This is totally fine, I'll get back to this thread once done :)

[2022-07-17 03:17] henjoe commented on #56
Hi @mikhail-vl ,

So here is what I done so far in Data Manipulation Panel.
I used the panel to get the basic information we needed, when the "submit" button is clicked, it goes to my backend API (nodered) and it send the data fo my InfluxDB. Then of course, from influxDB, you can visualize things in Grafana.

![image](https://user-images.githubusercontent.com/49782655/179382298-f85d6aa2-dd91-4080

[2022-07-17 03:19] #56 closed

[2022-07-17 12:39] mikhail-vl commented on #35
Version 2.0.0 was submitted for review. Approval pending for 2 months.

[2022-07-17 15:10] #57 closed

[2022-08-03 11:48] RohitSharma2k122 opened #62 "Facing Issue in POST"
![Data Manipulation](https://user-images.githubusercontent.com/110539162/182600491-10ee424c-225f-4d58-aa1a-23e08aa68ce6.PNG)

Not able to post the request using direct api created in .netcore
http://localhost:61761/api/Test/{ID}/{Name}/{Email}

[2022-08-03 12:11] mikhail-vl commented on #62
@RohitSharma2k122 Thank you for your interested in the Data Manipulation plugin.

  Plugin is doing POST requests with parameters in the body. Does .netcore support POST with body? I am not familiar with it.
  We have an Node.js example for reference: https://github.com/VolkovLabs/volkovlabs-form-panel/blob/main/server-pg/server.ts

  Please let me know.

[2022-08-03 16:04] RohitSharma2k122 commented on #62
HI @mikhail-vl

This is my Json data, Now i am passing on POST requests with parameters in the body.  Can you help me where its missing plz suggest.

{
  "id": 4,
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 0
  },
  "type": "volkovlabs-form-panel",
  "title": "Feedback",
  "datasource": {
    "uid": "grafana",
    "type": "grafana"
  },
  "options": {
    "initial": {
      "metho

[2022-08-03 17:40] mikhail-vl commented on #62
@RohitSharma2k122 I see that your URL is `"url": "http://localhost:61761/api/Test"`.

  Are you running Grafana and `.netcore` on your localhost? This is the URL your browsers will make a POST call, so you should be able to reach it.

  What do you see in the Browser's Console -> Network?

[2022-08-04 08:00] RohitSharma2k122 commented on #62
**Thanks @mikhail-vl for helps. Appreciate your support.**

**Am able to Post the data back to data source.**

One last question, Not able to clear the value of the form on click of reset button..

[2022-08-04 10:32] mikhail-vl commented on #62
@RohitSharma2k122 The Reset button perform Initial Request and runs custom code.
 If you don't use Initial Request you can clear out all the fields using custom code:

[code]

Or any particular fields if required

[code]

Please let me know if there is anything else.

[2022-08-04 10:50] RohitSharma2k122 commented on #62
Thanks so much @mikhail-vl.

Its works for me.

[2022-08-04 10:50] #62 closed

[2022-08-04 10:51] mikhail-vl commented on #62
@RohitSharma2k122 Thank you, let us know if there is anything else.

[2022-08-04 11:28] RohitSharma2k122 commented on #62
Thanks @mikhail-vl !

All works!

[2022-08-09 18:41] mikhail-vl commented on #35
It's not clear when or what is the reason for the delay.
It may be security reasons of the custom code.
Closing for now.

[2022-08-09 18:41] #35 closed

[2022-08-09 19:42] #18 closed

[2022-08-09 23:24] #22 closed

[2022-08-11 09:03] Castlesai opened #69 "Reset Button"
Hello Team I am not able to reset panal data using reset button and when i am using date and time as parameter in input panel  error is occuring

[2022-08-11 15:15] mikhail-vl commented on #69
@Castlesai `Reset` button executes Initial Request and custom code. It does not reset data by itself. If you want to clear all fields or a particular field, there is a sample code in README: https://github.com/VolkovLabs/volkovlabs-form-panel#clear-elements-values-after-submit-or-on-reset-button-click

Please provide more details on how you set date and time and what kind of error you see.

[2022-08-14 18:24] mikhail-vl commented on #69
@Castlesai Please let us know if you need anything else.

[2022-08-14 19:08] Castlesai commented on #69
Hello team when I select date and time in panel and try to submit at that time some error is showing
![Uploading IMG_20220815_003825.jpg…]()

[2022-08-14 19:14] mikhail-vl commented on #69
@Castlesai Could you please post the image again?

[2022-08-14 19:16] Castlesai commented on #69
![Uploading IMG_20220815_003825.jpg…]()

[2022-08-14 20:57] mikhail-vl commented on #69
@Castlesai Unfortunately, there is something wrong with how you upload the image or GitHub.

Can you download your uploaded image?

[2022-08-23 13:31] sanchomuzax opened #70 "[Q] Panel integration with a MariaDB database"
Unfortunately, it is not clear to me how to configure the panel so that the form could be written back to a MariaDB database? This database is independent from the Grafana database, but runs on the same server. Can you help me with this? I don't understand exactly what steps have to be taken in order to be able to write to the database?

Thank you for your help!

OS: CentOS 7
Grafana: v8.5
with an

[2022-08-23 15:15] mikhail-vl commented on #70
Hello @sanchomuzax, you will need an API server, which will implement an interface to a MariaDB or any other database.

Please check out the YouTube video https://www.youtube.com/watch?v=DXALVG8GijM&t=486s and our blog post https://volkovlabs.com/how-to-connect-the-data-manipulation-plugin-for-grafana-to-api-server-1abe5f60c904

The API Server should be similar to our Postgres example: https://git

[2022-08-24 06:34] shashank588 opened #71 "How to capture Grafana global variables in form elements?"
Hi Team,
I want to capture the Grafana global variables in form elements. For example, Instead of giving an email ID as user input, can we automatically pick it using the Grafana user's email using the global variable option? If possible kindly let me know how can I achieve this. Thank you.

Grafana user email variable: ${__user.email}  [https://grafana.com/docs/grafana/latest/variables/variable-t

[2022-08-24 10:56] mikhail-vl commented on #69
@Castlesai It's not clear what the issue is until I see the image.

Please upload it again and reopen the issue if required.

[2022-08-24 10:56] #69 closed

[2022-08-24 11:13] mikhail-vl commented on #71
@shashank588 That's a great question! I will update the README file to add details on how to use them.

1. Just put `${__user.email}` in the field, and it will be replaced automatically during the API calls.
2. Use it as a value for the Header Parameter; it will be replaced automatically as well.

Please let me know if it works for you.

[2022-08-24 13:35] Castlesai commented on #69
Hello VolkovLabs/volkovlabs-form-panel
   I tried with refresh I tried code which you shared with me.
   elements.map((element) => {
if (element.id === 'date') {
element.value = '';

}
});
 Can you please go through this images. I have attached with this email.

On Wed, Aug 24, 2022 at 4:26 PM Mikhail Volkov ***@***.***>
wrote:

[2022-08-24 13:36] Castlesai commented on #69
can we connect through google meet if it is possible?

On Wed, Aug 24, 2022 at 4:26 PM Mikhail Volkov ***@***.***>
wrote:

[2022-08-24 15:20] mikhail-vl commented on #71
@shashank588 We updated the README file to explain how to use dashboard and global variables.

Please let us know if you need anything else.

[2022-08-24 15:28] mikhail-vl opened #74 "Add Deno server API example"
Tutorial: https://deno.com/deploy/docs/tutorial-postgres

[2022-08-25 09:09] sanchomuzax commented on #70
Thank you for your help.

Unfortunately, I'm not a developer, although I can create scripts at a basic level, and I know how to manage sql databases. However, the operation of web interfaces is a level of knowledge that I don't understand.
The documents described in the linked descriptions aren't detailed enough and don't contain enough concrete steps for me to prepare the server side settings of

[2022-08-25 15:09] mikhail-vl opened #76 "Is it possible to customize the confirmation panel?"
Is it possible to customize the confirmation panel?

[2022-08-25 16:25] mikhail-vl opened #77 "Avoid showing confirmation for disabled elements"
Disabled elements can be used to display previous read-only values for the same id and should not be showed in the confirmation dialog.

[2022-08-25 18:41] mikhail-vl commented on #70
@sanchomuzax It's an interesting idea. Using Custom Code in the update statement we can create an `INSERT` statement based on the form elements. Then query the data source performing update.

 This is what you are looking for? I can create an example and it's a great topic for the video tutorial.

[2022-08-26 07:00] ytiruces opened #78 "Add variables in URL to call from form elements."
Hi!

I need to insert a variable from form elements into the query link. How can i do this?

I want do create payload from form elements and then create API call.

Dashboard variables not suitable.

[2022-08-26 07:02] ytiruces commented on #78
@mikhail-vl, is it possible?

[2022-08-26 13:18] mikhail-vl commented on #78
Hello @ytiruces,

  Thank you for the great question! In this case I would just use the Custom Code to do the request and skip Update Request.

![Screen Shot 2022-08-26 at 09 11 51](https://user-images.githubusercontent.com/47795110/186911352-d91d7495-7a43-449f-be58-4c8c55685b29.png)

  Here is the code example. You can get the specific `element` value using `body[element.id]` in the `url`:

[code

[2022-08-26 14:07] ytiruces commented on #78
Added headers and worked as it should!

[code]

TY @mikhail-vl

[2022-08-26 14:15] #78 closed

[2022-08-26 14:17] mikhail-vl commented on #78
@ytiruces Thank you for confirming. We updated the README with the code example.

  Please let me know if there is anything else.
  If you have an interesting use case for the panel, don't hesitate to share.

[2022-08-29 09:37] shashank588 commented on #71
Thank you @mikhail-vl for responding to my question. I am able to capture global variables in API headers. I have one more similar question. I want to create a custom input options field which is dynamic from user to user. So how can I create a dynamic list using SQL query or Grafana custom variables (List)?

Here is the documentation link for Grafana variables. [https://grafana.com/docs/grafana/l

[2022-08-29 12:47] mikhail-vl commented on #71
@shashank588 Thank you for confirming the solution.

  If I correctly understand the question, you can dynamically set element's values from the data source using custom code.
  Please take a look at the README file (https://github.com/VolkovLabs/volkovlabs-form-panel#dynamic-form-elements), which explains how to do it and includes a YouTube video.

[2022-08-29 12:50] mikhail-vl commented on #76
Proposed to show `Label` instead of `If` in the confirmation panel.

[2022-08-30 20:19] mikhail-vl commented on #74
Resolved in #80

[2022-08-30 21:41] #74 closed

[2022-08-31 01:56] #76 closed

[2022-08-31 14:23] mikhail-vl opened #83 "How to manually update data in influxDB using this plugin?"
Questions from the YouTube video comment.

To explore using direct data source update.

[2022-08-31 16:15] #77 closed

[2022-08-31 16:15] #21 closed

[2022-08-31 19:43] greg-violette opened #84 "Error when using the GET method"
I have a very simple GET method that should return data...confirmed using postman but I get the error below when I try to call it from the panel
'FormPanel.tsx:169 Uncaught (in promise) TypeError: Failed to execute 'set' on 'Headers': Invalid name
    at eval (FormPanel.tsx:169:15)
    at Array.forEach (<anonymous>)
    at eval (FormPanel.tsx:168:29)
    at s (FormPanel.tsx:2:1)
    at Generator.e

[2022-08-31 19:49] mikhail-vl commented on #84
@greg-violette Hello, do you have headers for the Initial Request with empty name in Panel's options? Or is it replaced with Empty Variables?

  Looks like we are missing check for the `parameter.name` and Fetch API gave you `Invalid name` error.

[code]

[2022-09-01 12:22] greg-violette commented on #84
I just have on header and it is a static value.  Here is an excerpt from my json export
`  "contentType": "application/json",
          "header": [
            {
              "name": "X-VSF-API-Token",
              "value": "YTc4ZmU1NGUtYjFkZC00YjlkLWI3M2YtZWNkZmFiZDE3MWQ0"
            }
          ],
          "highlight": false,`

[2022-09-01 16:14] mikhail-vl commented on #84
@greg-violette Thank you. I will take a look today and get back to you shortly.

[2022-09-01 17:03] greg-violette commented on #84
OK, thanks.  On another note, is there any dcoumentation on the Code Editor data type?  I need to pass in  a json array of objects and I was thinking the Code Editor may be the way to do that but I'm getting errors calling my API endpoint.
Thanks.

[2022-09-02 04:05] mikhail-vl commented on #84
@greg-violette I reproduced the error when added Header Parameters has empty `name` field. Fixed in #85.

    Code Editor is implemented using Monaco Code Editor, which is a part of the Grafana. You can choose Language `JSON` or `Javascript`. I just tested using JSON and it works as expected converting text into string like:
[code]

  Please let me know if there is anything else.

[2022-09-02 18:16] lynhnn opened #86 "how exactly to get the response data from the initial request http GET for form element?"
My http GET return JSON data on the "network/preview" debug tab but I'm not able to get to that JSON in the custom code to populate the data to the drop down list. "console.log(response)" doesn't show this JSON or anything related to the response I see elsewhere. Please help!

[2022-09-02 18:25] mikhail-vl commented on #86
Hello @lynhnn, that's is strange:

  Do you use the latest version, 2.4.0, we published recently? I just verified it and everything looks good for me.

  Do your panel's options look similar?
![Screen Shot 2022-09-02 at 14 24 45](https://user-images.githubusercontent.com/47795110/188215230-6aef0453-b30a-44ae-b66a-7cec8b9d2667.png)

[2022-09-02 21:16] lynhnn commented on #86
Yes I have version 2.4.0 and the panel edit look similar to what you have. The "console.log(response)" would give me the Object on the console tab like "Response { type: 'cors', url: 'https://....', redirected: false, status: 200, ok: true ...}" I don't know how to get the actual data from this to assign to my dropdown list values. Again, I can see the response JSON data  from the browser tab "Net

[2022-09-02 21:21] lynhnn commented on #86
It would be nice if you have an example of how to extract the data from the HTTP GET and use that in the variable input values like for the dropdown list items. I tried to look everywhere on your website and internet but not able to find a sample or instruction of how to do that. I think an example is extremely useful.

[2022-09-02 21:23] mikhail-vl commented on #86
There are examples of the server implementations and dashboards in the repository.

They should be also explained in our videos.

[2022-09-02 21:38] lynhnn commented on #86
I watched your video and they don't mention how to extract the values from an initial request GET http. I spent over 4 hours trying to get this working. I hope you can give me a direct link or an example of how to get the values out. The logic and how it works is totally great. However, this little detail of how to handle the data after the request and get them into the value for the form input is

[2022-09-02 22:33] mikhail-vl commented on #86
@lynhnn Thank you for the feedback. We understand what is missing and will update the README tomorrow.

Let me try to explain how the Initial Request works. If GET initial request is selected, then it will be executed when the form is loaded, or the Reset button is pressed.

In our example, the Node.js server (https://github.com/VolkovLabs/volkovlabs-form-panel/blob/main/server/server.ts) returns

[2022-09-02 23:40] lynhnn commented on #86
Ok, for my case, the http GET request would return a generic JSON and I would use a known path to get to the array of values (for dropdown list). I was hoping that your GET hook would allow me to continue to extract the data using the custom code block and set the data using the global variable name for that input form. I'm still think your plugin should support this generic REST endpoint. It is a

[2022-09-03 00:19] mikhail-vl commented on #86
@lynhnn Finally, I got it; sorry, it was a long Friday. Thank you for providing the example.

Unfortunately, you can't get the Response's body in the custom code for the Initial Request because it was already read and parsed inside the plugin. I can add parsed `json` parameter to the Custom Code function in the upcoming release.

But you don't need to wait for the release. You can select Initial R

[2022-09-05 09:33] absvm opened #87 "reload only the panel, not the entire page after update"
Hi,

One of the examples contains custom code to reload the page after an update. It uses location.reload():

`if (response && response.ok) {
  location.reload();
} else {
  alert(`Error: ${response.status}`);
}`

However, that reloads the whole page. It would be much faster and more elegant if I can reload only the panel for which I submit the update, exactly like what the reset button does. Is t

[2022-09-05 17:34] anilsagar commented on #70
Pls create an example for this. In your Custom Code in the update statement, it is not very clear where are the postgres database name and the table names. A video tutorial would be a great help as well.

[2022-09-05 17:35] mikhail-vl commented on #70
@anilsagar Thank you for your interest. We are working on it.

[2022-09-06 15:01] lynhnn commented on #86
Thanks @mikhail-vl for showing this code. I think this code will work. The next question is can I run multiple of these as I have many inputs to be fetched from various REST endpoints?
Please let me know when I can get the 'json' update code and try. Thanks again!!

[2022-09-08 00:33] #84 closed

[2022-09-08 00:35] mikhail-vl commented on #84
@greg-violette Fix for Request Header merged and will be a part of the upcoming release.

Please let me know if you able to fix the Code Editor errors and if there is anything else.

[2022-09-08 00:51] mikhail-vl commented on #87
@absvm I am sorry for the delay, I like the idea of being able to trigger the Initial Request (Reset) button when clicking on the Update Request.

  I am going to expose `initialRequest()` function, which can be called in the Custom Code.
  Will it work for you?

[2022-09-08 01:00] mikhail-vl opened #88 "Add Monaco Code Editor suggestions for available parameters"
The custom code has access to the Panel options, the response from the REST API call, form elements, various Grafana services and will be executed after the Initial and Update requests.

Available Parameters:

- `options` - Panels' options.
- `data` - Result set of panel queries.
- `response` - Request's response.
- `elements` - Form Elements.
- `locationService` - Grafana's `locationService` to w

[2022-09-08 01:12] #87 closed

[2022-09-08 01:13] mikhail-vl commented on #87
@absvm Feature implemented and will be available in the upcoming release (end of this or start next week).

  Please let us know if there is anything else.

[2022-09-08 01:54] mikhail-vl commented on #86
@lynhnn, I am sorry for the delay, I will have time to add `json` tomorrow.
  Initial request by design is only one, I don't want to complicate the logic of the plugin.

  To fetch multiple endpoint, you can have one Initial Request and other can be fetched inside Custom Code.
  I would recommend to use multiple JSON Data Source instead and read data from the data sources as we showed in the examp

[2022-09-08 05:09] absvm commented on #87
Thank you @mikhail-vl, great. Looking forward to try it.

[2022-09-11 01:00] #86 closed

[2022-09-11 02:29] mikhail-vl commented on #87
@absvm Data Manipulation panel 2.5.0 released: https://github.com/VolkovLabs/volkovlabs-form-panel/releases/tag/v2.5.0.

  Please try and let me know if there is anything else.

[2022-09-11 02:30] mikhail-vl commented on #86
@lynhnn Data Manipulation panel 2.5.0 released: https://github.com/VolkovLabs/volkovlabs-form-panel/releases/tag/v2.5.0.

  Please try and let me know if there is anything else.

[2022-09-22 15:08] mikhail-vl commented on #87
@absvm Thank you for confirming.

  We appreciate your support.
  Please let us know if there is anything else.

[2022-09-29 06:49] agriii927 opened #93 "Is it possible to interact from with other panels from data manipulation one?"
Is it possible to interact from with other panels from data manipulation one?
My case is: I send my post query to REST API, get the answer which is shown in the next data manipulation row with prediction label.
But it doesn't look fully distinguishable and that's why i want to highlight my result using stat panel because there I can set the size of query result text etc.

![изображение](https://us

[2022-09-29 09:46] Castlesai opened #94 "Form Elements Validation"
Hello @mikhail-vl,
I have tried elements validation in the Data Manipulation panel it is not showing any popup or warning if a user is entered data above the limits can you help my validation?
below is my panel configuration.
![Screenshot from 2022-09-29 14-38-56](https://user-images.githubusercontent.com/40688966/192998617-e7fd844e-a68c-4393-9009-73f4fbe99984.png)
![Screenshot from 2022-09-29 15-

[2022-09-29 12:56] mikhail-vl commented on #94
@Castlesai Thank you for opening the issue. `Min` and `Max` parameters define the range for Input element, but they don't enforce manual input.

  Updated in #95 and will be a part of the upcoming release.

[2022-09-29 17:44] mikhail-vl commented on #93
@agriii927 That's a great question and it was recently asked on our YouTube channel.

`templateService` is available in the Custom Code and it allows to get values for variables.
`locationService` is available as well and allows to set variable: https://grafana.com/docs/grafana/latest/developers/plugins/add-support-for-variables/#set-a-variable-from-your-plugin

Here is the example of the Update R

[2022-09-30 17:12] mikhail-vl opened #96 "Interface with the Amazon Athena data source"
If your data manipulation panel could interface with the Amazon Athena data source, one could build complete CRUD operations on S3 stored data without using an API.

For read-only operations, you would only need a table in Glue, which can be auto-created by running a crawler on a bucket containing equal schema .csv files. For complete CRUD, you could still do it as long as the table in Glue is of

[2022-10-02 15:34] mikhail-vl opened #97 "Support OPTIONS method for Initial Request"
Method OPTIONS can be used to retrieve Initial State and should be added in the plugin.

[2022-10-02 16:22] #97 closed

[2022-10-05 07:55] ytiruces opened #98 "Status notification after submit form"
Hi!

How can I create status notification after submit form? \
Like this:

![image](https://user-images.githubusercontent.com/8374107/194008831-5cdacdb8-4c76-481c-9664-636c0a02e875.png)

With message "Form submitted successfully" + maybe some link or remote data from request response.

TY!

[2022-10-05 17:23] mikhail-vl commented on #98
@ytiruces It's a great question. You should be able to do it in Custom Code after Update Request like `alert`.

  I will take a look into Grafana's notification and get back to you.

[2022-10-06 17:27] mikhail-vl commented on #93
@agriii927 To update `vartest` variable it should be `var-vartest` in the code:

[code]

  You should be able to see it updated to the `name` value in JSON.
  Please let me know if it works.

[2022-10-07 06:32] agriii927 commented on #93
Hello! It works! My problem was using "vartest" except "var-vartest".

[2022-10-07 06:32] #93 closed

[2022-10-07 08:53] Castlesai opened #99 "Initial GET request date time formatting"
Hello @mikhail-vl,
I am using an initial GET request to populate the data, all the string fields get populated correctly but date-time field is not properly populated kindly see the below images of actual and expected results. Also unable to open the calendar option to select date-time after the initial GET request is finished.
Actual
![Screenshot from 2022-10-07 14-12-56](https://user-images.gith

[2022-10-10 04:35] mikhail-vl commented on #99
@Castlesai, I am sorry for the delayed response.

  I reproduced the issue and will work on a fix.
  Apply should not be required if the DateTime is parsed correctly.

[2022-10-10 07:02] Castlesai commented on #99
Thanks, @mikhail-vl  for responding

[2022-10-10 12:03] agriii927 opened #100 "query for reset button"
Hello! Can you add an option to attach query to reset button?
My case is: I have Data manipulation widget table with parameters, by clicking on Submit button with POST query I connect to REST API with values of all parameters and get the prediction of ML model.
What I want to add: add a query/ area for it for clicking reset button. If I had it,  I can refresh my parameters data from database (only

[2022-10-10 17:33] mikhail-vl commented on #100
@agriii927 Thank you for submitting the feature.

  I will look into it and will get back to you if I have any questions.

[2022-10-11 07:57] fabiotorta commented on #54
Sorry for the delay in replying but I got the COVID.

I will prepare step by step documentation of the problem encountered as soon as possible.

Thank you

Fabio Torta

Da: Mikhail Volkov <>
Inviato: martedì 28 giugno 2022 01:14
A: VolkovLabs/volkovlabs-form-panel ***@***.***>
Cc: fabiotorta ***@***.***>; Mention ***@***.***>
Oggetto: Re: [VolkovLabs/volkovlabs-form-panel] edit fields after first

[2022-10-11 15:33] lynhnn opened #101 "how to update other fields (onOptionsChange usage)"
Hi,
I use my own scripts for both initial request and update request. However, I don't know how to update other elements once I select a dropdown element. My use case is that I loaded a list of items. And once I select an item, the rest of the form should load that item properties so I can edit them. However, I still don't know how to call to update the other elements. Is there a hook to listen to

[2022-10-12 13:19] SairajSawant288 opened #102 "URL for Submit Button"
Hi @mikhail-vl,

How can I assign a URL to a button which will navigate to another dashboard instead of the default API endpoints?

The URL assigned to the button contains dashboard parameters that are used for the initial GET request in the navigated dashboard.

Thank you.

[2022-10-14 01:57] mikhail-vl commented on #101
Hello @lynhnn,

  This is how we define SELECT elements. It has predefined onChange event, which updates selected value in Options.
[code]

  Do you want to have you own custom onChange function? Will it help you?

[2022-10-14 06:41] ytiruces commented on #98
window.alert() not in grafana style.

[2022-10-14 15:57] mikhail-vl commented on #98
@ytiruces I looked at how notifications are done in Grafana and looks like they are not exposed to plugins.

  I will look more closely over the weekend.

[2022-10-17 05:05] Castlesai commented on #99
Hello @mikhail-vl, can you please give me suggestions to fix this issue?

[2022-10-17 15:01] ftasso commented on #101
Hello,
I'm using this very interesting plugin!
Also my use case needs a custom onChange for a SELECT field, I would really appreciate an example.

Thank you,
Fabrizio

[2022-10-17 15:08] ftasso opened #103 "Show/hide element"
Hello,
my panel have a main select and a lot of fields, each select option needs a specific subset of fields and not all.
Is it possible to show/hide programmatically a specific element in order to simplify the user navigation?

Thank you,
Fabrizio

[2022-10-19 04:20] thetorque commented on #83
Hi, is this functionality supported? Or is there a workaround?

[2022-10-19 11:05] ftasso opened #104 "Doubt about query synchronization"
Hello,
I have a doubt about the query synchronization, please take a look a this sequences:

after panel loading (at the begin) I have this sequence:
- query execution having a template variable of Grafana, for example $varOne, and a correct syncronization with the query termination
- call to Init custom code and "data.series" correctly filled

changing $varOne I have this sequence:
- query execut

[2022-10-20 01:35] mikhail-vl commented on #104
@ftasso Thank you for opening the issue.

  That's an interesting question and I will need to reproduce it. I don't quite get "query execution without synchronization with the termination" what it means and need to look at it.

  Grafana should take care of refreshing panel when query changes. Panel subscribed to Refresh events.
  Have you tried using the previous version 9.1.X?

[2022-10-20 12:05] rantinray opened #105 "Initialize element value from a Data Source query"
I am trying to initialize a "Select with Custom options" element with Custom Code in the Initial Request.  The initial request is '-' and the URL is blank as I am just trying to use data from a Prometheus query.  I see that I have the values I want in the data element and I am able to assign them to the element.value fields.  But this does not seem to affect the "initial" value which is used to de

[2022-10-20 12:20] ftasso commented on #103
Hello Mikhail,
thank you for your enthusiasm.

I have an idea about a different use of your plugin.
Grafana is a powerful software but have a BIG limitation, the template variables are not groupable in a specific GUI like a command panel.  Morover if you have more panels, charts table etc, and each of these panels use a specific variable or a subset of variables, it's very difficult for the final

[2022-10-20 21:48] mikhail-vl commented on #105
@rantinray Thank you for opening the feature request. I got the issue issue recently, when tried to use Custom Code for the initial Request.

  I will expose `setInitial` and you can set the initial hash of data like in the `initialRequest`.

[2022-10-20 21:50] mikhail-vl commented on #103
@ftasso, this is awesome.

  I will take a look and get back to you shortly.

[2022-10-21 00:05] rantinray commented on #105
@mikhail-vl Thank you for your response.  Could you possibly provide an example usage when you have it implemented?  I will watch for a new release!

[2022-10-21 02:37] mikhail-vl commented on #83
@thetorque It should be possible to do it directly using Custom Code, but I have not looked into it yet.

  It's easy to do using custom API like the plugin was designed.

[2022-10-21 02:49] mikhail-vl commented on #105
@rantinray I will, I hope to including it in the upcoming release this week.

[2022-10-21 02:52] thetorque commented on #83
It would be great if you can provide a simple example since my background is not in software / computer. I'm very new. Thank you so much.

[2022-10-23 13:54] #94 closed

[2022-10-23 13:55] mikhail-vl commented on #94
@Castlesai PR Merged and will be a part of the release later today.

  Please let us know if you need anything else.

[2022-10-23 15:19] #105 closed

[2022-10-23 15:21] mikhail-vl commented on #105
@rantinray PR merged and will be a part of the today's release:

[code]

[2022-10-23 17:01] #99 closed

[2022-10-23 17:07] mikhail-vl commented on #99
@Castlesai Issue was resolved and will be a part of today's release.

  Please let me know if there is anything else.

[2022-10-24 13:17] rantinray commented on #105
@mikhail-vl I have installed the new v2.6 plugin to try to use the new 'setInitial()' function, but I am not able to get it to work.  What value should I use for the 'name' property?  I have been using the 'element.id' of the form element I want to initialize.  Is this correct?

Thanks,
-Ray

[2022-10-25 09:38] rantinray commented on #105
@mikhail-vl Yes, that is much clearer for me.  I should have let you know that I eventually worked it out toward the end of my day.  I am pretty new to javascript so between looking at your code and trial and error I worked out.  Thanks!

I have another possible enhancement request.  Would it be possible to add a function like updatedValues() that returns a container of the update values in the fo

[2022-10-26 10:56] ftasso commented on #104
Hello,

"Have you tried using the previous version 9.1.X?" Done, problem still remains.

I made a simple dashboard for debug this problem, it use a Mysql database but no tables are needed.
Dashboard have 2 queries, the first is used to populate an option select (tags) and the second is used to retrieve a new value according to the option selected.
Changing "tags" option value (then apply button) s

[2022-10-27 14:22] parumsancto commented on #101
It will be very helpful. Please do it.

[2022-10-27 14:36] parumsancto opened #110 "Text of the inscriptions"
How to customize the inscriptions (like "Please confirm to update changed values?") in the confirmation window (button names)?
This is useful to localize the interface to other languages (not English).

[2022-10-31 01:38] mikhail-vl commented on #110
@parumsancto Thank you for opening the issue. It's a great feature.

  Grafana is still working on support Internationalization and I have to check if it's support for the plugins at all.
  Meanwhile, we may define panel options to update all inscriptions.

  What language you are looking for?

[2022-10-31 01:41] mikhail-vl commented on #105
@rantinray That's a totally valid request. Please open a new issue to track it and we will work on it.

[2022-11-01 07:51] parumsancto commented on #110
@mikhail-vl

Ukrainian

[2022-11-01 17:39] westonforbes opened #111 "Changes to custom code fields will not save unless other fields have changed."
Hello,
First off, I love this plugin, thank you for making it, but I did find a issue that is proving to be quite annoying.

I am trying to make changes to some of my custom code under the Initial request field.
![image](https://user-images.githubusercontent.com/56303146/199284516-94a0cdf2-ec60-4652-92c2-2c1cb57117d2.png)
However, when I click apply, the changes will not retain. The only way I can

[2022-11-01 17:47] westonforbes commented on #111
I take it back...Now none of my changes are retaining with the plugin. Something with the whole plugin is bugging out. Hmmm...

[2022-11-01 17:53] rantinray commented on #111
@westonforbes I had the same problem.  I found that the only way to save the custom code was to hit the "save" dashboard button from within the edit panel. Then I had to "reload" the page to make sure it was available to test.  I am not sure this is what was expected, but it is what I had to do.  Hope this helps.

[2022-11-01 17:56] rantinray opened #112 "Consider adding a "getUpdatedValues()" function to determine changed form values"
Consider adding a function called something like "getUpdatedValues()" that returns a container of the update values in the form {'id1':'newValue1', 'id2':'newValue2', ...}. This would basically match the table you build for the confirmation dialog. It would help to optimize when building the "Update Request".  Currently you must send all form elements in the update when only a select few have chan

[2022-11-01 18:04] westonforbes commented on #111
@rantinray Thanks for the input. That worked...This time. I found some other ways, like toggling a feature, that would work for a bit then stop working. So I'm not 100% convinced that'll work every time but thanks!

For the developer: It seems to be something bugged out inside the panel, I created another panel with the similar settings and its not doing it...mystery. Here is the JSON Model for th

[2022-11-07 18:09] mikhail-vl opened #114 "Allow to send all or updated only values in Payload"
Needs to add an option to send only updated parameters

[2022-11-08 19:43] mikhail-vl commented on #112
@rantinray I am working on a feature toggle to send only updated values. Will it work for you?

[2022-11-08 19:47] mikhail-vl commented on #111
@westonforbes Thank you for reporting the issue. It may be related to the custom code and how it's saved in the Dashboard's JSON file.

  We are working on updating the panel this week and I will look into it.

[2022-11-08 20:21] mikhail-vl opened #115 "How SAML Authorization can be sent to the backend?"
How SAML Authorization can be sent to the backend?

[2022-11-08 20:28] tjbanks commented on #115
Thanks @mikhail-vl! I wonder about authenticating to other backend api services using grafana's authorization token. Eg - SSO (https://www.keycloak.org) using oauth2.

[2022-11-09 02:43] #114 closed

[2022-11-09 02:51] #112 closed

[2022-11-09 02:58] mikhail-vl commented on #112
@rantinray Looking at the issue closer, we identified that `json` with parsed values from the Initial Request are not exposed in the Update Request.

  #117 fixes the issue and will be a part of the upcoming release. Instructions also updated in README: https://github.com/VolkovLabs/volkovlabs-form-panel#update-request

  Meanwhile, you can download the plugin with latest updated from GitHub Actio

[2022-11-09 08:36] rantinray commented on #112
@mikhail-vl I am on travel this week, but I will try to find time to test your updates.  I reviewed the README and it looks like it will do what I need.  I will let you know if I run into any difficulties.

Thanks again for your prompt respone.

-Ray

[2022-11-09 13:58] mikhail-vl commented on #112
@rantinray Please keep us updated and let us know if there is anything else.

[2022-11-10 04:32] #98 closed

[2022-11-10 17:52] rantinray commented on #112
@mikhail-vl I was able to test this new feature by loading the 2.7.0 zip file you referenced.  It worked fine for me.

Thanks,
-Ray

[2022-11-10 18:05] mikhail-vl commented on #112
@rantinray Thank you for confirming.

  I am finishing Code Editor Suggestions and will release a new version with all updates in an hour or so.

[2022-11-10 18:15] mikhail-vl commented on #34
It was planned originally but was not asked from the community.
Closing for now.

[2022-11-10 18:15] #34 closed

[2022-11-10 18:28] rantinray commented on #112
@mikhail-vl I tried calling the "notifySuccess()" and "notifyError()" methods while testing the version you pointed me to. They did not resolve.  Were they supposed to be in that build? https://github.com/VolkovLabs/volkovlabs-form-panel/actions/runs/3424937351

-Ray

[2022-11-10 18:34] mikhail-vl commented on #112
@rantinray Notifications was implemented later and it is not a part of that Action.

  To try the latest updates, download the artifact from the most recent Action: https://github.com/VolkovLabs/volkovlabs-form-panel/actions/workflows/ci.yml

[2022-11-10 18:57] #88 closed

[2022-11-10 19:17] mikhail-vl commented on #111
@westonforbes I experienced the same issue on 9.2.2, which was not the case before 9.1.0...

  I am releasing a new version with some required features, which I can't delay to fix this issue.
  I have some ideas about why it's happening and will look into it.

[2022-11-10 19:45] mikhail-vl commented on #112
@rantinray Data Manipulation Panel 2.7.0 was released: https://github.com/VolkovLabs/volkovlabs-form-panel/releases/tag/v2.7.0

  Please let us know if you need anything else.

[2022-11-11 16:57] JasonMatuszak commented on #83
Any idea when this functionality will be implemented and pushed for utilization?

[2022-11-11 17:20] mikhail-vl commented on #83
@JasonMatuszak Thank you for checking.

  We see a lot of requests for this functionality and will look into it with priority.

[2022-11-14 19:48] mikhail-vl opened #121 "Add Lookup options for Disabled element"
When you have two sections with Read-only and Updated values, read-only values should display labels for SELECT and RADIO element values.

[2022-11-15 10:59] mudasarellahi opened #122 "Files upload"
Hi,

I have a requirement to submit the Textarea along with user uploaded files. Is there a way to upload files and send to API?

[2022-11-15 19:06] mikhail-vl commented on #122
@mudasarellahi We was planning to add this functionality, but no one asked for it so far.

  We will look into implementing it in the upcoming version.

  Do you have requirements for amount of files, their sizes and formats?

[2022-11-16 09:26] ftasso commented on #104
Morning,
news about this issue? Did you look my test dashboard?

Thank you for you support.

Fabrizio

[2022-11-21 14:37] #121 closed

[2022-11-28 00:23] arknoto commented on #83
Also interested in posting / writing to influxdb database using your plugin.

[2022-11-28 01:16] mikhail-vl commented on #83
Thank you for your interest and patience. We planned on clearing the backlog for the Data Manipulation Panel in the upcoming two weeks and releasing a new version.
  This issue has already been marked as a priority in our queue.